langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-classic
langgraph
langchain-mcp-adapters
llm-guard
chromadb
faiss-cpu
unstructured
pymupdf
numpy
python-dotenv
gradio
rank-bm25
sentence-transformers
